<div class="col-sm-6 col-xs-12"><label>From</label><br><select class="selectpicker" id="from"><option value="mm2">Square Millimeter</option>
<option value="cm2">Centimeter</option>
<option value="m2">Square Meter</option>
<option value="ha">Hectare</option>
<option value="km2">Square Kilometer</option>
<option value="in2">Square Inch</option>
<option value="ft2">Square Foot</option>
<option value="ac">Acre</option>
<option value="mi2">Square Mile</option></select><br><label>Entry</label><br>
    <div class="col-sm-12 col-xs-12"><input class="form-control" placeholder="..." aria-describedby="basic-addon1" id="value"></div>
</div>
<div class="col-sm-6 col-xs-12"><label>To</label><br> <select class="selectpicker" id="to"><option value="mm2">Square Millimeter</option>
<option value="cm2">Centimeter</option>
<option value="m2">Square Meter</option>
<option value="ha">Hectare</option>
<option value="km2">Square Kilometer</option>
<option value="in2">Square Inch</option>
<option value="ft2">Square Foot</option>
<option value="ac">Acre</option>
<option value="mi2">Square Mile</option></select><br><label>Result</label><br><span id="convertedValue" style="padding-left:20px"></span></div>