<div class="col-sm-6 col-xs-12"><label>From</label><br><select class="selectpicker" id="from"><option value="mm">Millimeter</option>
<option value="cm">Centimeter</option>
<option value="m">Meter</option>
<option value="km">Kilometer</option>
<option value="in">Inch</option>
<option value="yd">Yard</option>
<option value="ft">Foot</option>
<option value="mi">Mile</option></select><br><label>Entry</label><br>
    <div class="col-sm-12 col-xs-12"><input class="form-control" placeholder="..." aria-describedby="basic-addon1" id="value"></div>
</div>
<div class="col-sm-6 col-xs-12"><label>To</label><br> <select class="selectpicker" id="to"><option value="mm">Millimeter</option>
<option value="cm">Centimeter</option>
<option value="m">Meter</option>
<option value="km">Kilometer</option>
<option value="in">Inch</option>
<option value="yd">Yard</option>
<option value="ft">Foot</option>
<option value="mi">Mile</option></select><br><label>Result</label><br><span id="convertedValue" style="padding-left:20px"></span></div>