<div class="col-sm-6 col-xs-12"><label>From</label><br><select class="selectpicker" id="from"><option value="mcg">Microgram</option>
<option value="mg">Milligram</option>
<option value="g">Gram</option>
<option value="kg">Kilogram</option>
<option value="oz">Ounce</option>
<option value="lb">Pound</option></select><br><label>Entry</label><br>
    <div class="col-sm-12 col-xs-12"><input class="form-control" placeholder="..." aria-describedby="basic-addon1" id="value"></div>
</div>
<div class="col-sm-6 col-xs-12"><label>To</label><br> <select class="selectpicker" id="to"><option value="mcg">Microgram</option>
<option value="mg">Milligram</option>
<option value="g">Gram</option>
<option value="kg">Kilogram</option>
<option value="oz">Ounce</option>
<option value="lb">Pound</option></select><br><label>Result</label><br><span id="convertedValue" style="padding-left:20px"></span></div>